name: Code Quality

on:
  pull_request:
    branches: master
  push:
    branches: '**'

env:
  DOTNET_NOLOGO: true
  DOTNET_CLI_TELEMETRY_OPTOUT: false

jobs:
  quality:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-dotnet@v4
      with:
        dotnet-version: |
          8.0.x
          10.0.x
  
    - uses: reviewdog/action-setup@d8edfce3dd5e1ec6978745e801f9c50b5ef80252 # v1.4.0
      with:
        reviewdog_version: latest

    - name: Restore Tools
      run: dotnet tool restore

    - name: Restore Packages
      run: dotnet restore

    - name: InspectCode
      run: dotnet jb inspectcode DragonFruit.Data.sln --output=inspectcodereport.sarif --cachesDir=inspectcode --severity=WARNING --no-build

    - name: Publish report
      run: cat inspectcodereport.sarif | reviewdog -f=sarif -reporter=github-pr-check
      env:
        REVIEWDOG_GITHUB_API_TOKEN: ${{ secrets.GITHUB_TOKEN }}
