name: Unit Tests

on:
  pull_request:
    branches: master
  push:
    branches: master

env:
  DOTNET_NOLOGO: true
  DOTNET_CLI_TELEMETRY_OPTOUT: false
  orbit_client_id: ${{ secrets.ORBIT_CLIENT_ID }}
  orbit_client_secret: ${{ secrets.ORBIT_CLIENT_SECRET }}

jobs:
  test:
    runs-on: ubuntu-latest

    strategy:
      include:
        matrix:
          - dotnet: '3.0.x'
            dotnet-tfm: 'netcoreapp3.1'
          - dotnet: '5.0.x'
            dotnet-tfm: 'net5.0'

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Install .NET
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: ${{ matrix.dotnet }}

      - name: Build
        run: dotnet build -c Debug -f ${{ matrix.dotnet-tfm }}

      - name: Unit Tests
        run: dotnet test -f ${{ matrix.dotnet-tfm }}